*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
 header, section, footer, nav, article, hgroup{
 	display:block;
 }
 body{
 	text-align:center;
 }
 #big_wrapper{
 	border:1px solid black;
 	width: 1000px;
 	margin: 20px auto;
 	text-align:left;
}
#top_header{
	background:yellow;
	border: 1px solid green;
	padding: 20px;
}